.heatmap {
  width: 800px;
  overflow-x: auto;
  background-color: rgba(0,0,0,0.05)
}

.svg_hm {
  overflow-x: hidden;
}

.div2 {
  overflow-x: auto;
}
.div3 {
  overflow-x: hidden;
}
.svg_g {
  overflow-x: hidden;
}
